{% schema %}
{
  "name": "Avada_instagram",
  "target": "section",
  "javascript": "avada-instagram.js",
  "settings": []
}
{% endschema %}

<section class="avada-instagram-section">
  <div id="react-container"> </div>
</section>